<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.nym.testcase/src/main/java/TestCase/com/nym/testcase/Calculator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="TestCase.com.nym.testcase.Calculator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.nym.testcase"/>
</launchConfiguration>
